<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/play.css" rel="stylesheet" type="text/css" />
    <title>Play Quiz</title>
  </head>
  <body>
    <nav id="index-navbar">
      <a class="nav-btn" href="/">Home</a>
    </nav>

    <div id="play-correctionwindow">
      <h2>Correction</h2>
      <label for="play-correction-diagram">Diagram</label>
      <div id="play-correction-diagram">
        <div id="play-correction-wrongs"></div>
        <div id="play-correction-trues"></div>
      </div>
      <p id="play-correction-text"></p>
      <button id="play-correction-btn" onclick="GoHome()">OK</button>
    </div>

    <form id="play-content" onsubmit="CorrectQuiz();return false;">
      <p id="play-quiztitle">Quiz Title</p>
      <ul id="play-questions"></ul>
      <input id="play-submit" type="submit" value="Submit" />
    </form>
    <footer id="footer"></footer>
  </body>
  <script src="./js/play.js"></script>
</html>
